@model Pitstop.Models.UserLoginModel

@{
    Layout = "/Views/Shared/_LayoutFullPage.cshtml";
    ViewBag.Title = "Reset My Password";
    ViewData["Title"] = "Reset My Password Validation";
}

<div class="d-flex flex-column flex-root">
			<!--begin::Authentication - Password reset -->
			<div class="d-flex flex-column flex-lg-row flex-column-fluid">
				<!--begin::Logo-->
				<a href="Home/Index" class="d-block d-lg-none mx-auto py-20">
					<img alt="Logo" src="~/logo.png" class="theme-light-show h-25px" />
				</a>
				<!--end::Logo-->
				<!--begin::Aside-->
				<div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
					<!--begin::Wrapper-->
					<div class="d-flex justify-content-between flex-column-fluid flex-column w-100 mw-450px">
						<!--begin::Header-->
						<div class="d-flex flex-stack py-2">

						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="py-20">
							<!--begin::Form-->
							<form class="form w-100" novalidate="novalidate" id="kt_password_reset_form" action="/Auth/ForgotPassword">
								<!--begin::Heading-->
								<div class="text-start login-card mb-5">
									<!--begin::Title-->
									<h1 class="text-dark mb-3 fs-3x" data-kt-translate="password-reset-title">Forgot Password ?</h1>
									<!--end::Title-->
									<!--begin::Text-->
									<div class="text-gray-400 fw-semibold fs-6 mb-5" data-kt-translate="password-reset-desc">Enter your email to reset your password.</div>
									<!--begin::Input group-->
									<div class="fv-row mb-10">
										<input class="form-control form-control-solid login-details" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; margin-top: 50px;" type="text" placeholder="Email" name="loginId" id="email" autocomplete="off" />
									</div>
									<!--end::Input group-->
									<!--end::Link-->
								</div>
								<!--begin::Heading-->

								<!--begin::Actions-->
								<div class="d-flex flex-stack">
									<!--begin::Link-->
									<div class="m-0">
										<button id="kt_password_reset_submit" class="btn btn-primary me-2" data-kt-translate="password-reset-submit">
											<!--begin::Indicator label-->
											<span class="indicator-label">Submit</span>
											<!--end::Indicator label-->
											<!--begin::Indicator progress-->
											<span class="indicator-progress">Please wait...
											<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
											<!--end::Indicator progress-->
										</button>
										<a href="/Auth/Index" class="btn btn-lg btn-light-primary fw-bold" data-kt-translate="password-reset-cancel">Cancel</a>
									</div>
									<!--end::Link-->
								</div>
								<!--end::Actions-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Aside-->
				<!--begin::Body-->
					<div class="d-none d-lg-flex flex-lg-row-fluid w-50 justify-content-center align-items-center" style="background-color: #60100B;">
						<a href="/Home/Index">
					<img src="~/logo.png" alt="Your Logo" style="width: 100px; height: 100px;"/></div>
					</a>
				<!--begin::Body-->
			<!--end::Authentication - Password reset-->
		</div>
		</div>

	<script src="~/assets/js/custom/authentication/reset-password/reset-password.js"> </script>
