 <!DOCTYPE html>
    <html lang="en">
    <head>
        <base href=""/>
		<meta charset="utf-8" />
        <title>Pitstop.Incsg</title>
		<meta property="og:url" content="https://keenthemes.com/metronic" />
		<meta property="og:site_name" content="Keenthemes | Metronic" />
		<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
		<link rel="shortcut icon" href="~/images/pitstoplogo1.png" />
        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <!--end::Fonts-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="utf-8" http-equiv="encoding" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Include jQuery -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->

        <!-- Add this line to include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.css">

<!-- Add this line to include SweetAlert JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.js"></script>

    </head>
<body>
            <!--Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                @RenderBody()
            </div>

        <!--Footer-->
       <footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <h3 class="footer__title">Our Information</h3>
            <ul class="footer__list">
                <li>PitstopIncsg@gmail.com</li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">About Us</h3>
            <ul class="footer__links">
                @* <li><a href="#" class="footer__link">Customer Support</a></li> *@
                <li><a href="#ourStory" class="footer__link">Company Overview</a></li>
                <li><a href="#" class="footer__link">Copyright</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Products</h3>
            <ul class="footer__links">
                <li><a href="#featured" class="footer__link">Hoodies</a></li>
                <li><a href="#" class="footer__link">More Coming Soon</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Follow Us</h3>
            <ul class="footer__social">
                <li><a href="https://twitter.com/" target="_blank" class="footer__social-link"><i class='bx bxl-tiktok'></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank" class="footer__social-link"><i class='bx bxl-instagram'></i></a></li>
            </ul>
        </div>
    </div>

    <div class="footer__copy">&copy; Pitstop.IncSg. All rights reserved.</div>
</footer>

        <a href="#" class="scrollup" id="scroll-up"> 
            <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
        </a>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/home/js/swiper-bundle.min.js"></script>
        <script src="~/home/js/main.js"></script>
        
        @await RenderSectionAsync("Scripts", required: false)
        <!--begin::Global Config(global config for global JS scripts)-->
        <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
        <!--end::Global Config-->
    <script>
        $(document).ajaxStart(function () {
            $('.custom-loader-wrapper').css('display', 'flex');
        }).ajaxStop(function () {
            $('.custom-loader-wrapper').css('display', 'none');
        });

        function getRedirect(url) {
            $.ajax({
                url: contentUrl + "Home/CreateToken",
                type: "GET",
                dataType: "JSON",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result != null) {
                        window.open(url + result, '_blank');
                    }
                },
                error: function (request, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: request.responseJSON.message,
                        showConfirmButton: true
                    });
                }
            });
        }
    </script>
</body>
</html>