@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Button trigger modal-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-custom">
                                <div class="card-header d-flex justify-content-center">
                                    <div class="card-title">
                                        <h3 class="card-label">
                                            Create User
                                        </h3>
                                    </div>
                                </div>
                                <form>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-rg-2 col-form-label text-lg-right">Full Name</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control" placeholder="Full Name..." />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-rg-2 col-form-label text-lg-right">Email Id</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control" placeholder="Email Id..." />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-rg-2 col-form-label text-lg-right">Mobile Number</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control" placeholder="Mobile Number..." />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-rg-2 col-form-label text-lg-right">Access Type</label>
                                            <div class="col-lg-5">
                                                <select class="form-control select2" id="AccessType" name="AccessType"></select>
                                            </div>
                                            <div class="col-lg-5">
                                                <input type="button" class="btn btn-info mr-2" value="Reset Password" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-rg-2 col-form-label text-lg-right">Active?</label>
                                            <div class="col-lg-5 pt-2">
                                                <label class="checkbox checkbox-lg">
                                                    <input type="checkbox" checked="checked" name="IsActive" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label text-lg-right"></label>
                                            <div class="col-lg-5">
                                                <input type="button" class="btn btn-primary mr-2" value="Create/Update User" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
